In [81]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [82]:
users=pd.read_csv('users.csv')

In [83]:
users

,id,name,created time,private/public,post count,Verified status
0,1,Kenton_Kirlin,16-02-2017 18:22,yes,11,no
1,2,Andre_Purdy85,02-04-2017 17:11,no,7,no
2,3,Harley_Lind18,21-02-2017 11:12,no,2,no
3,4,Arely_Bogan63,13-08-2016 01:28,yes,1,no
4,5,Aniya_Hackett,07-12-2016 01:04,yes,3,no
...,...,...,...,...,...,...
95,96,Keenan.Schamberger60,28-08-2016 14:57,yes,687,no
96,97,Tomas.Beatty93,11-02-2017 11:38,yes,92,no
97,98,Imani_Nicolas17,31-01-2017 22:59,no,123,no
98,99,Alek_Watsica,10-12-2016 07:43,no,232,no
99,100,Javonte83,27-03-2017 22:06,yes,32,yes

In [84]:
# id, username, created_at

In [85]:
users = users[["id","name","created time"]]
users.rename({"id":"id","name":"username","created time":"created_at"},axis=1,inplace=True)