In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set()

In [3]:
dataset = pd.read_csv("HousePricePrediction.csv")

In [4]:
dataset

,Id,MSSubClass,MSZoning,LotArea,LotConfig,BldgType,OverallCond,YearBuilt,YearRemodAdd,Exterior1st,BsmtFinSF2,TotalBsmtSF,SalePrice
0,0,60,RL,8450,Inside,1Fam,5,2003,2003,VinylSd,0.0,856.0,208500.0
1,1,20,RL,9600,FR2,1Fam,8,1976,1976,MetalSd,0.0,1262.0,181500.0
2,2,60,RL,11250,Inside,1Fam,5,2001,2002,VinylSd,0.0,920.0,223500.0
3,3,70,RL,9550,Corner,1Fam,5,1915,1970,Wd Sdng,0.0,756.0,140000.0
4,4,60,RL,14260,FR2,1Fam,5,2000,2000,VinylSd,0.0,1145.0,250000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2914,2914,160,RM,1936,Inside,Twnhs,7,1970,1970,CemntBd,0.0,546.0,NaN
2915,2915,160,RM,1894,Inside,TwnhsE,5,1970,1970,CemntBd,0.0,546.0,NaN
2916,2916,20,RL,20000,Inside,1Fam,7,1960,1996,VinylSd,0.0,1224.0,NaN
2917,2917,85,RL,10441,Inside,1Fam,5,1992,1992,HdBoard,0.0,912.0,NaN
2918,2918,60,RL,9627,Inside,1Fam,5,1993,1994,HdBoard,0.0,996.0,NaN

In [5]:
shape = dataset.shape

In [6]:
shape

(2919, 13)

In [7]:
dt = dataset.dtypes
dt

Id                int64
MSSubClass        int64
MSZoning         object
LotArea           int64
LotConfig        object
BldgType         object
OverallCond       int64
YearBuilt         int64
YearRemodAdd      int64
Exterior1st      object
BsmtFinSF2      float64
TotalBsmtSF     float64
SalePrice       float64
dtype: object

In [8]:
num = dt[dt!="object"]
cat = dt[dt=="object"]

In [9]:
num

Id                int64
MSSubClass        int64
LotArea           int64
OverallCond       int64
YearBuilt         int64
YearRemodAdd      int64
BsmtFinSF2      float64
TotalBsmtSF     float64
SalePrice       float64
dtype: object

In [10]:
cat

MSZoning       object
LotConfig      object
BldgType       object
Exterior1st    object
dtype: object

In [11]:
num_col = num.index.values
cat_col = cat.index.values

In [12]:
num_col

array(['Id', 'MSSubClass', 'LotArea', 'OverallCond', 'YearBuilt',
       'YearRemodAdd', 'BsmtFinSF2', 'TotalBsmtSF', 'SalePrice'],
      dtype=object)

In [12]:
dataset_num_1 = dataset[num_col]
ind = dataset_num_1.index.values
dataset_num = dataset_num_1.drop("Id",axis=1,inplace=False)
dataset_num = dataset_num.set_index(ind)
dataset_cat = dataset[cat_col]
dataset_cat= dataset_cat.set_index(ind)

In [13]:
dataset_num

,MSSubClass,LotArea,OverallCond,YearBuilt,YearRemodAdd,BsmtFinSF2,TotalBsmtSF,SalePrice
0,60,8450,5,2003,2003,0.0,856.0,208500.0
1,20,9600,8,1976,1976,0.0,1262.0,181500.0
2,60,11250,5,2001,2002,0.0,920.0,223500.0
3,70,9550,5,1915,1970,0.0,756.0,140000.0
4,60,14260,5,2000,2000,0.0,1145.0,250000.0
...,...,...,...,...,...,...,...,...
2914,160,1936,7,1970,1970,0.0,546.0,NaN
2915,160,1894,5,1970,1970,0.0,546.0,NaN
2916,20,20000,7,1960,1996,0.0,1224.0,NaN
2917,85,10441,5,1992,1992,0.0,912.0,NaN
2918,60,9627,5,1993,1994,0.0,996.0,NaN

In [14]:
dataset_cat

     MSZoning LotConfig BldgType Exterior1st
0          RL    Inside     1Fam     VinylSd
1          RL       FR2     1Fam     MetalSd
2          RL    Inside     1Fam     VinylSd
3          RL    Corner     1Fam     Wd Sdng
4          RL       FR2     1Fam     VinylSd
...       ...       ...      ...         ...
2914       RM    Inside    Twnhs     CemntBd
2915       RM    Inside   TwnhsE     CemntBd
2916       RL    Inside     1Fam     VinylSd
2917       RL    Inside     1Fam     HdBoard
2918       RL    Inside     1Fam     HdBoard

[2919 rows x 4 columns]

In [15]:
dt = dataset.dtypes
dt

Id                int64
MSSubClass        int64
MSZoning         object
LotArea           int64
LotConfig        object
BldgType         object
OverallCond       int64
YearBuilt         int64
YearRemodAdd      int64
Exterior1st      object
BsmtFinSF2      float64
TotalBsmtSF     float64
SalePrice       float64
dtype: object

In [16]:
num = dt[dt!="object"]
cat = dt[dt=="object"]
numerical_columns = num.index.values
categorical_columns = cat.index.values

In [17]:
categorical_columns

array(['MSZoning', 'LotConfig', 'BldgType', 'Exterior1st'], dtype=object)

In [18]:
numerical_columns

array(['Id', 'MSSubClass', 'LotArea', 'OverallCond', 'YearBuilt',
       'YearRemodAdd', 'BsmtFinSF2', 'TotalBsmtSF', 'SalePrice'],
      dtype=object)

In [19]:
dataset

,Id,MSSubClass,MSZoning,LotArea,LotConfig,BldgType,OverallCond,YearBuilt,YearRemodAdd,Exterior1st,BsmtFinSF2,TotalBsmtSF,SalePrice
0,0,60,RL,8450,Inside,1Fam,5,2003,2003,VinylSd,0.0,856.0,208500.0
1,1,20,RL,9600,FR2,1Fam,8,1976,1976,MetalSd,0.0,1262.0,181500.0
2,2,60,RL,11250,Inside,1Fam,5,2001,2002,VinylSd,0.0,920.0,223500.0
3,3,70,RL,9550,Corner,1Fam,5,1915,1970,Wd Sdng,0.0,756.0,140000.0
4,4,60,RL,14260,FR2,1Fam,5,2000,2000,VinylSd,0.0,1145.0,250000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2914,2914,160,RM,1936,Inside,Twnhs,7,1970,1970,CemntBd,0.0,546.0,NaN
2915,2915,160,RM,1894,Inside,TwnhsE,5,1970,1970,CemntBd,0.0,546.0,NaN
2916,2916,20,RL,20000,Inside,1Fam,7,1960,1996,VinylSd,0.0,1224.0,NaN
2917,2917,85,RL,10441,Inside,1Fam,5,1992,1992,HdBoard,0.0,912.0,NaN
2918,2918,60,RL,9627,Inside,1Fam,5,1993,1994,HdBoard,0.0,996.0,NaN

In [20]:
list(dataset.isnull().sum())

[0, 0, 4, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1459]

In [21]:
sale = dataset["SalePrice"].fillna(dataset["SalePrice"].mean())

In [22]:
dataset["SalePrice"] = sale

In [23]:
dataset_1 = dataset.dropna(axis=0,inplace=False)

In [24]:
dataset_1

,Id,MSSubClass,MSZoning,LotArea,LotConfig,BldgType,OverallCond,YearBuilt,YearRemodAdd,Exterior1st,BsmtFinSF2,TotalBsmtSF,SalePrice
0,0,60,RL,8450,Inside,1Fam,5,2003,2003,VinylSd,0.0,856.0,208500.00000
1,1,20,RL,9600,FR2,1Fam,8,1976,1976,MetalSd,0.0,1262.0,181500.00000
2,2,60,RL,11250,Inside,1Fam,5,2001,2002,VinylSd,0.0,920.0,223500.00000
3,3,70,RL,9550,Corner,1Fam,5,1915,1970,Wd Sdng,0.0,756.0,140000.00000
4,4,60,RL,14260,FR2,1Fam,5,2000,2000,VinylSd,0.0,1145.0,250000.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2914,2914,160,RM,1936,Inside,Twnhs,7,1970,1970,CemntBd,0.0,546.0,180921.19589
2915,2915,160,RM,1894,Inside,TwnhsE,5,1970,1970,CemntBd,0.0,546.0,180921.19589
2916,2916,20,RL,20000,Inside,1Fam,7,1960,1996,VinylSd,0.0,1224.0,180921.19589
2917,2917,85,RL,10441,Inside,1Fam,5,1992,1992,HdBoard,0.0,912.0,180921.19589
2918,2918,60,RL,9627,Inside,1Fam,5,1993,1994,HdBoard,0.0,996.0,180921.19589

In [30]:
df = dataset_1.drop("Id",axis=1,inplace=False)
df

,MSSubClass,MSZoning,LotArea,LotConfig,BldgType,OverallCond,YearBuilt,YearRemodAdd,Exterior1st,BsmtFinSF2,TotalBsmtSF,SalePrice
0,60,RL,8450,Inside,1Fam,5,2003,2003,VinylSd,0.0,856.0,208500.00000
1,20,RL,9600,FR2,1Fam,8,1976,1976,MetalSd,0.0,1262.0,181500.00000
2,60,RL,11250,Inside,1Fam,5,2001,2002,VinylSd,0.0,920.0,223500.00000
3,70,RL,9550,Corner,1Fam,5,1915,1970,Wd Sdng,0.0,756.0,140000.00000
4,60,RL,14260,FR2,1Fam,5,2000,2000,VinylSd,0.0,1145.0,250000.00000
...,...,...,...,...,...,...,...,...,...,...,...,...
2914,160,RM,1936,Inside,Twnhs,7,1970,1970,CemntBd,0.0,546.0,180921.19589
2915,160,RM,1894,Inside,TwnhsE,5,1970,1970,CemntBd,0.0,546.0,180921.19589
2916,20,RL,20000,Inside,1Fam,7,1960,1996,VinylSd,0.0,1224.0,180921.19589
2917,85,RL,10441,Inside,1Fam,5,1992,1992,HdBoard,0.0,912.0,180921.19589
2918,60,RL,9627,Inside,1Fam,5,1993,1994,HdBoard,0.0,996.0,180921.19589

In [31]:
df.corr(numeric_only=True)

,MSSubClass,LotArea,OverallCond,YearBuilt,YearRemodAdd,BsmtFinSF2,TotalBsmtSF,SalePrice
MSSubClass,1.000000,-0.202661,-0.066033,0.033428,0.042057,-0.072839,-0.222397,-0.059326
LotArea,-0.202661,1.000000,-0.025024,0.031226,0.027047,0.085927,0.262102,0.237990
OverallCond,-0.066033,-0.025024,1.000000,-0.375150,0.043586,0.040980,-0.180554,-0.055299
YearBuilt,0.033428,0.031226,-0.375150,1.000000,0.611755,-0.028329,0.407691,0.369442
YearRemodAdd,0.042057,0.027047,0.043586,0.611755,1.000000,-0.062818,0.294832,0.355167
BsmtFinSF2,-0.072839,0.085927,0.040980,-0.028329,-0.062818,1.000000,0.089027,-0.007672
TotalBsmtSF,-0.222397,0.262102,-0.180554,0.407691,0.294832,0.089027,1.000000,0.433343
SalePrice,-0.059326,0.237990,-0.055299,0.369442,0.355167,-0.007672,0.433343,1.000000

In [47]:
k = df.dtypes
num_types = k[k!="object"]
cat_types = k[k=="object"]

In [48]:
num = df[num_types.index.values]
cat = df[cat_types.index.values]

In [49]:
num

,MSSubClass,LotArea,OverallCond,YearBuilt,YearRemodAdd,BsmtFinSF2,TotalBsmtSF,SalePrice
0,60,8450,5,2003,2003,0.0,856.0,208500.00000
1,20,9600,8,1976,1976,0.0,1262.0,181500.00000
2,60,11250,5,2001,2002,0.0,920.0,223500.00000
3,70,9550,5,1915,1970,0.0,756.0,140000.00000
4,60,14260,5,2000,2000,0.0,1145.0,250000.00000
...,...,...,...,...,...,...,...,...
2914,160,1936,7,1970,1970,0.0,546.0,180921.19589
2915,160,1894,5,1970,1970,0.0,546.0,180921.19589
2916,20,20000,7,1960,1996,0.0,1224.0,180921.19589
2917,85,10441,5,1992,1992,0.0,912.0,180921.19589
2918,60,9627,5,1993,1994,0.0,996.0,180921.19589

In [50]:
cat

     MSZoning LotConfig BldgType Exterior1st
0          RL    Inside     1Fam     VinylSd
1          RL       FR2     1Fam     MetalSd
2          RL    Inside     1Fam     VinylSd
3          RL    Corner     1Fam     Wd Sdng
4          RL       FR2     1Fam     VinylSd
...       ...       ...      ...         ...
2914       RM    Inside    Twnhs     CemntBd
2915       RM    Inside   TwnhsE     CemntBd
2916       RL    Inside     1Fam     VinylSd
2917       RL    Inside     1Fam     HdBoard
2918       RL    Inside     1Fam     HdBoard

[2913 rows x 4 columns]

In [66]:
p = dict()
for i in cat:
	uni = cat[i].value_counts()
	l = dict(uni)
	p[i] = l

In [67]:
p

{'MSZoning': {'RL': 2264, 'RM': 459, 'FV': 139, 'RH': 26, 'C (all)': 25},
 'LotConfig': {'Inside': 2128,
  'Corner': 511,
  'CulDSac': 176,
  'FR2': 85,
  'FR3': 13},
 'BldgType': {'1Fam': 2419,
  'TwnhsE': 227,
  'Duplex': 109,
  'Twnhs': 96,
  '2fmCon': 62},
 'Exterior1st': {'VinylSd': 1025,
  'MetalSd': 449,
  'HdBoard': 442,
  'Wd Sdng': 409,
  'Plywood': 221,
  'CemntBd': 126,
  'BrkFace': 87,
  'WdShing': 56,
  'AsbShng': 43,
  'Stucco': 43,
  'BrkComm': 6,
  'AsphShn': 2,
  'Stone': 2,
  'ImStucc': 1,
  'CBlock': 1}}

In [71]:
from sklearn.preprocessing import OneHotEncoder

In [74]:
k = df.dtypes
num_types = k[k!="object"]
cat_types = k[k=="object"]
num = df[num_types.index.values]
cat = df[cat_types.index.values]
cat

     MSZoning LotConfig BldgType Exterior1st
0          RL    Inside     1Fam     VinylSd
1          RL       FR2     1Fam     MetalSd
2          RL    Inside     1Fam     VinylSd
3          RL    Corner     1Fam     Wd Sdng
4          RL       FR2     1Fam     VinylSd
...       ...       ...      ...         ...
2914       RM    Inside    Twnhs     CemntBd
2915       RM    Inside   TwnhsE     CemntBd
2916       RL    Inside     1Fam     VinylSd
2917       RL    Inside     1Fam     HdBoard
2918       RL    Inside     1Fam     HdBoard

[2913 rows x 4 columns]

In [92]:
enc = OneHotEncoder(drop="first")
model = enc.fit(cat)
model.transform(cat)

<2913x26 sparse matrix of type '<class 'numpy.float64'>'
	with 8654 stored elements in Compressed Sparse Row format>

In [93]:
k = model.transform(cat).toarray()

In [94]:
k

array([[0., 0., 1., ..., 1., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       [0., 0., 1., ..., 1., 0., 0.],
       ...,
       [0., 0., 1., ..., 1., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.]])

In [103]:
list_of_columns = pd.DataFrame(p)
list_of_columns

         MSZoning  LotConfig  BldgType  Exterior1st
RL         2264.0        NaN       NaN          NaN
RM          459.0        NaN       NaN          NaN
FV          139.0        NaN       NaN          NaN
RH           26.0        NaN       NaN          NaN
C (all)      25.0        NaN       NaN          NaN
Inside        NaN     2128.0       NaN          NaN
Corner        NaN      511.0       NaN          NaN
CulDSac       NaN      176.0       NaN          NaN
FR2           NaN       85.0       NaN          NaN
FR3           NaN       13.0       NaN          NaN
1Fam          NaN        NaN    2419.0          NaN
TwnhsE        NaN        NaN     227.0          NaN
Duplex        NaN        NaN     109.0          NaN
Twnhs         NaN        NaN      96.0          NaN
2fmCon        NaN        NaN      62.0          NaN
VinylSd       NaN        NaN       NaN       1025.0
MetalSd       NaN        NaN       NaN        449.0
HdBoard       NaN        NaN       NaN        442.0
Wd Sdng       NaN        NaN       NaN        409.0
Plywood       NaN        NaN       NaN        221.0
CemntBd       NaN        NaN       NaN        126.0
BrkFace       NaN        NaN       NaN         87.0
WdShing       NaN        NaN       NaN         56.0
AsbShng       NaN        NaN       NaN         43.0
Stucco        NaN        NaN       NaN         43.0
BrkComm       NaN        NaN       NaN          6.0
AsphShn       NaN        NaN       NaN          2.0
Stone         NaN        NaN       NaN          2.0
ImStucc       NaN        NaN       NaN          1.0
CBlock        NaN        NaN       NaN          1.0

In [96]:
ctr = 0
for i in p:
	ctr += len(p[i])
ctr

30

In [102]:
a = np.array(cat.loc[0,:])
a

array(['RL', 'Inside', '1Fam', 'VinylSd'], dtype=object)

In [105]:
b = list_of_columns.index.values
b

array(['RL', 'RM', 'FV', 'RH', 'C (all)', 'Inside', 'Corner', 'CulDSac',
       'FR2', 'FR3', '1Fam', 'TwnhsE', 'Duplex', 'Twnhs', '2fmCon',
       'VinylSd', 'MetalSd', 'HdBoard', 'Wd Sdng', 'Plywood', 'CemntBd',
       'BrkFace', 'WdShing', 'AsbShng', 'Stucco', 'BrkComm', 'AsphShn',
       'Stone', 'ImStucc', 'CBlock'], dtype=object)

In [115]:
b[b!=a[0]]

array(['RM', 'FV', 'RH', 'C (all)', 'Inside', 'Corner', 'CulDSac', 'FR2',
       'FR3', '1Fam', 'TwnhsE', 'Duplex', 'Twnhs', '2fmCon', 'VinylSd',
       'MetalSd', 'HdBoard', 'Wd Sdng', 'Plywood', 'CemntBd', 'BrkFace',
       'WdShing', 'AsbShng', 'Stucco', 'BrkComm', 'AsphShn', 'Stone',
       'ImStucc', 'CBlock'], dtype=object)

In [116]:
for i in a:
	b = b[b!=i]
b

array(['RM', 'FV', 'RH', 'C (all)', 'Corner', 'CulDSac', 'FR2', 'FR3',
       'TwnhsE', 'Duplex', 'Twnhs', '2fmCon', 'MetalSd', 'HdBoard',
       'Wd Sdng', 'Plywood', 'CemntBd', 'BrkFace', 'WdShing', 'AsbShng',
       'Stucco', 'BrkComm', 'AsphShn', 'Stone', 'ImStucc', 'CBlock'],
      dtype=object)

In [123]:
enc = OneHotEncoder(drop="first")
model = enc.fit(cat)
k = model.transform(cat).toarray()
list_of_columns = pd.DataFrame(p)
a = np.array(cat.loc[0,:])
b = list_of_columns.index.values
for i in a:
    b = b[b!=i]
k = pd.DataFrame(data=k,columns=b)
k

,RM,FV,RH,C (all),Corner,CulDSac,FR2,FR3,TwnhsE,Duplex,...,CemntBd,BrkFace,WdShing,AsbShng,Stucco,BrkComm,AsphShn,Stone,ImStucc,CBlock
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2908,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2909,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2910,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2911,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2912,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [129]:
num

,MSSubClass,LotArea,OverallCond,YearBuilt,YearRemodAdd,BsmtFinSF2,TotalBsmtSF,SalePrice
0,60,8450,5,2003,2003,0.0,856.0,208500.00000
1,20,9600,8,1976,1976,0.0,1262.0,181500.00000
2,60,11250,5,2001,2002,0.0,920.0,223500.00000
3,70,9550,5,1915,1970,0.0,756.0,140000.00000
4,60,14260,5,2000,2000,0.0,1145.0,250000.00000
...,...,...,...,...,...,...,...,...
2914,160,1936,7,1970,1970,0.0,546.0,180921.19589
2915,160,1894,5,1970,1970,0.0,546.0,180921.19589
2916,20,20000,7,1960,1996,0.0,1224.0,180921.19589
2917,85,10441,5,1992,1992,0.0,912.0,180921.19589
2918,60,9627,5,1993,1994,0.0,996.0,180921.19589

In [149]:
a1 = list(num.columns.values)
a2 = list(k.columns.values)
lis = a1+a2
ls = pd.DataFrame(columns=lis)
ls[a1] = num
ls[a2] = k
sales = ls["SalePrice"]
ls.drop("SalePrice",axis=1,inplace=True)
ls["SalePrice"] = sales
ls

,MSSubClass,LotArea,OverallCond,YearBuilt,YearRemodAdd,BsmtFinSF2,TotalBsmtSF,RM,FV,RH,...,BrkFace,WdShing,AsbShng,Stucco,BrkComm,AsphShn,Stone,ImStucc,CBlock,SalePrice
0,60,8450,5,2003,2003,0.0,856.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,208500.00000
1,20,9600,8,1976,1976,0.0,1262.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,181500.00000
2,60,11250,5,2001,2002,0.0,920.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,223500.00000
3,70,9550,5,1915,1970,0.0,756.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,140000.00000
4,60,14260,5,2000,2000,0.0,1145.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,250000.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2914,160,1936,7,1970,1970,0.0,546.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,180921.19589
2915,160,1894,5,1970,1970,0.0,546.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,180921.19589
2916,20,20000,7,1960,1996,0.0,1224.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,180921.19589
2917,85,10441,5,1992,1992,0.0,912.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,180921.19589
2918,60,9627,5,1993,1994,0.0,996.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,180921.19589

In [1]:
df

NameError: name 'df' is not defined