### Food Delivery App Data Analysis
In the world of culinary delights and gastronomic adventures, the Zomato dataset project takes center stage. Just as millions of food enthusiasts use the Zomato platform to satisfy their culinary cravings, you step into the role of a data maestro, ready to unlock the secrets hidden within this treasure trove of information.

Your journey in this project begins with a task as vital as preparing the finest ingredients for a gourmet meal—cleaning the dataset. Much like a skilled chef ensuring that every component is pristine and ready for the culinary masterpiece, you meticulously clean and prepare the data. It's about setting the stage for a culinary data symphony.

Once the dataset is impeccably prepped, you delve into the heart of this gastronomic world—the analysis. You become the culinary critic of data, deciphering what makes a restaurant shine, identifying trends in dining preferences, and uncovering the secrets behind customer choices. It's about distilling raw data into flavorful insights.

As the project unfolds, you become the unsung hero behind the scenes. Just like in a bustling kitchen where chefs work tirelessly to create unforgettable dishes, your work enhances the Zomato experience for users and restaurant owners alike. Your insights help restaurants refine their offerings, and diners discover the perfect place to satisfy their cravings.

In this world of data-driven gastronomy, you are the master chef, the data virtuoso, and the storyteller. Your dedication to cleaning, analyzing, and visualizing the Zomato dataset contributes to the magic of discovering new culinary delights and makes every dining experience that much more extraordinary.

### Module 1


#### Task 1: Unlocking Zomato's Flavorful Universe

Within the vast Zomato dataset, we hold the keys to a flavorful universe. With hotel names, addresses, ratings, and more at our fingertips, our culinary odyssey is in full swing. Each data point is a hidden gem, guiding us to uncover the secrets of exceptional dining. We aim to unearth patterns, fuel innovation, and inspire future culinary endeavors. Beyond data analysis, it's a journey to enhance the world's dining experiences, one bite at a time. Join us as we explore the flavors that will shape the future of food.

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv("zomato.csv")

df.head()

,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),listed_in(type)
0,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet
1,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet
2,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet
3,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet
4,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet

#### Task 2: Dropping Unneccessary Columns

For our analysis, we dont need address and phone number column. So your task it drop these two columns from our dataframe.

In [5]:
df = df.drop(columns=["address","phone"])
df.head()

,name,online_order,book_table,rate,votes,location,rest_type,dish_liked,cuisines,approx_cost(for two people),listed_in(type)
0,Jalsa,Yes,Yes,4.1/5,775,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet
1,Spice Elephant,Yes,No,4.1/5,787,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet
2,San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet
3,Addhuri Udupi Bhojana,No,No,3.7/5,88,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet
4,Grand Village,No,No,3.8/5,166,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet

#### Task 3: Renaming Columns for Clarity

Your task is to rename certain columns to improve readability. Specifically, you'll change rate to rating, approx_cost(for two people) to approx_cost, and listed_in(type) to type. This will make the column names more intuitive for further analysis.

In [24]:
df = df.rename(columns={
    "rate" : "rating",
    "approx_cost(for two people)" : "approx_cost",
    "listed_in(type)" : "type"
})

df.head()

,name,online_order,book_table,rating,votes,location,rest_type,dish_liked,cuisines,approx_cost,type
0,Jalsa,Yes,Yes,4.1/5,775,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet
1,Spice Elephant,Yes,No,4.1/5,787,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet
2,San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet
3,Addhuri Udupi Bhojana,No,No,3.7/5,88,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet
4,Grand Village,No,No,3.8/5,166,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet

#### Task 4: Dropping Rows with Missing Values in the 'Name' Column

In this task, you'll remove any rows from the dataset where the 'name' column has missing values. This ensures that our analysis only includes entries with valid and complete data in the 'name' field.

In [25]:
df = df[df["name"]!=np.nan]
df.head()

,name,online_order,book_table,rating,votes,location,rest_type,dish_liked,cuisines,approx_cost,type
0,Jalsa,Yes,Yes,4.1/5,775,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet
1,Spice Elephant,Yes,No,4.1/5,787,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet
2,San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet
3,Addhuri Udupi Bhojana,No,No,3.7/5,88,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet
4,Grand Village,No,No,3.8/5,166,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet

#### Task 5: Filling Missing Values in the 'Online Order' Column

Your task is to fill any missing values in the 'online_order' column with 'NA'. This step ensures that our dataset doesn't have any gaps in this field, which is important for consistent analysis.

In [26]:
df["online_order"] = df["online_order"].fillna("NA")

#### Task 6: Filling Missing Values in the 'Book Table' Column

In this task, you'll fill any missing values in the 'book_table' column with 'NA'. This ensures that the dataset remains complete, particularly in the 'book_table' field, which is crucial for our analysis.

In [27]:
df["book_table"] = df["book_table"].fillna("NA")

#### Task 7: Filling Missing Values in the 'Rating' Column

Your task is to replace any missing values in the 'rating' column with 0. This step is important to maintain numerical consistency in the dataset, ensuring that the 'rating' field has no gaps.

In [28]:
df["rating"] = df["rating"].fillna(0)

#### Task 8: Filling Missing Values in the 'Votes' Column

In this task, you'll fill any missing values in the 'votes' column with 0. This ensures that the dataset remains complete and that the 'votes' field accurately reflects the data, even where no votes were recorded.

In [29]:
df["votes"] = df["votes"].fillna(0)

#### Task 9: Filling Missing Values in the 'Location' Column

Your task is to fill any missing values in the 'location' column with 'NA'. This step ensures that the dataset is complete and that the 'location' field consistently contains data, even if the exact location is not available.

In [30]:
df["location"] = df["location"].fillna("NA")

#### Task 10: Filling Missing Values in the 'Rest Type' Column

In this task, you'll replace any missing values in the 'rest_type' column with 'NA'. This ensures that the dataset has a consistent value in the 'rest_type' field, even where specific restaurant types are not provided.

In [31]:
df["rest_type"] = df["rest_type"].fillna("NA")

#### Task 11: Filling Missing Values in the 'Dish Liked' Column

Your task is to fill any missing values in the 'dish_liked' column with 'NA'. This step helps to ensure that the dataset is complete and that the 'dish_liked' field consistently contains data, even if no specific dishes were liked.

In [32]:
df["dish_liked"] = df["dish_liked"].fillna("NA")

#### Task 12: Filling Missing Values in the 'Cuisines' Column

In this task, you'll replace any missing values in the 'cuisines' column with 'NA'. This ensures that the dataset remains complete and that the 'cuisines' field is consistently filled, even when the specific cuisines are not provided.

In [33]:
df["cuisines"] = df["cuisines"].fillna("NA")

#### Task 13: Filling Missing Values in the 'Approx Cost' Column

Your task is to fill any missing values in the 'approx_cost' column with 0. This step ensures that the dataset has no gaps in the 'approx_cost' field, providing a complete set of data for analysis.

In [34]:
df["approx_cost"] = df["approx_cost"].fillna(0)

#### Task 14: Filling Missing Values in the 'Type' Column

In this task, you'll replace any missing values in the 'type' column with 'NA'. This ensures that the dataset remains complete, with the 'type' field consistently containing data even when the specific type is not provided.

In [35]:
df["type"] = df["type"].fillna("NA")

#### Task 15: Purifying Zomato's Culinary Canvas.

Our exploration of the Zomato dataset continues as we embark on a mission to eliminate duplicates. Just as astronomers seek clarity in the night sky, we strive for a clearer understanding of the culinary world. By removing redundancy, we refine our data, ensuring that each restaurant shines uniquely, guiding us toward the essence of exceptional dining.

In [36]:
df = df.drop_duplicates()

#### Task 16: Removing Rows with 'RATED' or 'Rated' in the 'Name' Column

Your task is to filter out any rows where the 'name' column contains the text 'RATED' or 'Rated'. This step helps to clean the dataset by excluding entries that might be incorrectly labeled or irrelevant for the analysis.

In [38]:
df = df[df["name"]!="Rated"][df["name"]!="RATED"]
df.head()

,name,online_order,book_table,rating,votes,location,rest_type,dish_liked,cuisines,approx_cost,type
0,Jalsa,Yes,Yes,4.1/5,775,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet
1,Spice Elephant,Yes,No,4.1/5,787,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet
2,San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet
3,Addhuri Udupi Bhojana,No,No,3.7/5,88,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet
4,Grand Village,No,No,3.8/5,166,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet

#### Task 17: Removing Rows with 'RATED' or 'Rated' in the 'Type' Column

In this task, you'll filter out any rows where the 'type' column contains the text 'RATED' or 'Rated'. This ensures that the dataset is cleaned of entries with potentially incorrect or irrelevant type labels, improving the quality of the analysis.

In [39]:
df = df[df["type"]!="Rated"][df["type"]!="RATED"]
df.head()

,name,online_order,book_table,rating,votes,location,rest_type,dish_liked,cuisines,approx_cost,type
0,Jalsa,Yes,Yes,4.1/5,775,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet
1,Spice Elephant,Yes,No,4.1/5,787,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet
2,San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet
3,Addhuri Udupi Bhojana,No,No,3.7/5,88,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet
4,Grand Village,No,No,3.8/5,166,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet

#### Task 18: Removing Rows with 'RATED' or 'Rated' in the 'Approx Cost' Column

Your task is to filter out any rows where the 'approx_cost' column contains the text 'RATED' or 'Rated'. This step helps to clean the dataset by excluding entries where the 'approx_cost' field might have been incorrectly labeled, ensuring more accurate analysis.

In [40]:
df = df[df["approx_cost"]!="Rated"][df["approx_cost"]!="RATED"]
df.head()

,name,online_order,book_table,rating,votes,location,rest_type,dish_liked,cuisines,approx_cost,type
0,Jalsa,Yes,Yes,4.1/5,775,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet
1,Spice Elephant,Yes,No,4.1/5,787,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet
2,San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet
3,Addhuri Udupi Bhojana,No,No,3.7/5,88,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet
4,Grand Village,No,No,3.8/5,166,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet

#### Task 19: Removing Rows with 'RATED' or 'Rated' in the 'Cuisines' Column

In this task, you'll filter out any rows where the 'cuisines' column contains the text 'RATED' or 'Rated'. This helps to clean the dataset by removing entries with potentially incorrect or irrelevant cuisine information, enhancing the accuracy of your analysis.

In [41]:
df = df[df["cuisines"]!="Rated"][df["cuisines"]!="RATED"]
df.head()

,name,online_order,book_table,rating,votes,location,rest_type,dish_liked,cuisines,approx_cost,type
0,Jalsa,Yes,Yes,4.1/5,775,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet
1,Spice Elephant,Yes,No,4.1/5,787,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet
2,San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet
3,Addhuri Udupi Bhojana,No,No,3.7/5,88,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet
4,Grand Village,No,No,3.8/5,166,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet

#### Task 20: Removing Rows with 'RATED' or 'Rated' in the 'Dish Liked' Column

Your task is to filter out any rows where the 'dish_liked' column contains the text 'RATED' or 'Rated'. This step cleans the dataset by excluding entries where the 'dish_liked' field might be incorrectly labeled, ensuring that the data used for analysis is more accurate.

In [42]:
df = df[df["dish_liked"]!="Rated"][df["dish_liked"]!="RATED"]
df.head()

,name,online_order,book_table,rating,votes,location,rest_type,dish_liked,cuisines,approx_cost,type
0,Jalsa,Yes,Yes,4.1/5,775,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet
1,Spice Elephant,Yes,No,4.1/5,787,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet
2,San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet
3,Addhuri Udupi Bhojana,No,No,3.7/5,88,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet
4,Grand Village,No,No,3.8/5,166,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet

#### Task 21: Removing Rows with 'RATED' or 'Rated' in the 'Rest Type' Column

In this task, you'll filter out any rows where the 'rest_type' column contains the text 'RATED' or 'Rated'. This step helps to clean the dataset by excluding entries with potentially incorrect or irrelevant restaurant type information, improving the quality of the analysis.

In [43]:
df = df[df["rest_type"]!="Rated"][df["rest_type"]!="RATED"]
df.head()

,name,online_order,book_table,rating,votes,location,rest_type,dish_liked,cuisines,approx_cost,type
0,Jalsa,Yes,Yes,4.1/5,775,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet
1,Spice Elephant,Yes,No,4.1/5,787,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet
2,San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet
3,Addhuri Udupi Bhojana,No,No,3.7/5,88,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet
4,Grand Village,No,No,3.8/5,166,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet

#### Task 22: Removing Rows with 'RATED' or 'Rated' in the 'Location' Column

Your task is to filter out any rows where the 'location' column contains the text 'RATED' or 'Rated'. This ensures that the dataset is free from entries with potentially incorrect or irrelevant location information, enhancing the accuracy of your analysis.

In [44]:
df = df[df["location"]!="Rated"][df["location"]!="RATED"]
df.head()

,name,online_order,book_table,rating,votes,location,rest_type,dish_liked,cuisines,approx_cost,type
0,Jalsa,Yes,Yes,4.1/5,775,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet
1,Spice Elephant,Yes,No,4.1/5,787,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet
2,San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet
3,Addhuri Udupi Bhojana,No,No,3.7/5,88,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet
4,Grand Village,No,No,3.8/5,166,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet

#### Task 23: Removing Rows with 'RATED' or 'Rated' in the 'Votes' Column

In this task, you'll filter out any rows where the 'votes' column contains the text 'RATED' or 'Rated'. This step helps to clean the dataset by excluding entries where the 'votes' field might be incorrectly labeled, ensuring that the data used for analysis is accurate and reliable.

In [45]:
df = df[df["votes"]!="Rated"][df["votes"]!="RATED"]
df.head()

,name,online_order,book_table,rating,votes,location,rest_type,dish_liked,cuisines,approx_cost,type
0,Jalsa,Yes,Yes,4.1/5,775,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet
1,Spice Elephant,Yes,No,4.1/5,787,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet
2,San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet
3,Addhuri Udupi Bhojana,No,No,3.7/5,88,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet
4,Grand Village,No,No,3.8/5,166,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet

#### Task 24: Removing Rows with 'RATED' or 'Rated' in the 'Rating' Column

Your task is to filter out any rows where the 'rating' column contains the text 'RATED' or 'Rated'. This step cleans the dataset by excluding entries with potentially incorrect or irrelevant rating information, ensuring a more accurate dataset for analysis.

In [46]:
df = df[df["rating"]!="Rated"][df["rating"]!="RATED"]
df.head()

,name,online_order,book_table,rating,votes,location,rest_type,dish_liked,cuisines,approx_cost,type
0,Jalsa,Yes,Yes,4.1/5,775,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet
1,Spice Elephant,Yes,No,4.1/5,787,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet
2,San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet
3,Addhuri Udupi Bhojana,No,No,3.7/5,88,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet
4,Grand Village,No,No,3.8/5,166,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet

#### Task 25: Removing Rows with 'RATED' or 'Rated' in the 'Book Table' Column

In this task, you'll filter out any rows where the 'book_table' column contains the text 'RATED' or 'Rated'. This ensures that the dataset is cleaned of entries with potentially incorrect or irrelevant booking information, leading to more accurate analysis

#### Task 26: Filtering Rows with 'Yes' or 'No' in the 'Online Order' Column

Your task is to keep only the rows where the 'online_order' column contains 'Yes' or 'No'. This step filters the dataset to include only entries with valid online ordering information, ensuring that the analysis is based on relevant and accurate data.

#### Task 27: Replacing 'NEW','-', Values with 0 and Removing '/5' Suffix from the 'Rating' Column

In this task, you'll replace any occurrences of 'NEW','-' in the 'rating' column with 0 and remove the '/5' suffix. This step ensures that the dataset has consistent numerical values in the 'rating' field, improving the accuracy of the analysis by handling special or placeholder values.