In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pymongo import MongoClient

In [2]:
client = MongoClient("mongodb+srv://Cluster59335:Mini-9247@cluster0.grgfmhr.mongodb.net/?retryWrites=true&w=majority")

In [3]:
db = client["employee_hiring"]

In [4]:
tables = db.list_collection_names()
tables

['May-2014',
 'March-2014',
 'December-2014',
 'February-2014',
 'April-2014',
 'October-2014',
 'August-2014',
 'July-2014',
 'November-2014',
 'September-2014',
 'June-2014',
 'January-2014']

In [25]:
ctr = []
for i in db[tables[0]].find():
    ctr.append(len(i))
maxi = max(ctr)
col = []
for i in db[tables[0]].find():
    if len(i)==maxi:
        col = list(i.keys())
        break

In [26]:
def get_table(name,months,col):
    pos = months.index(name)
    df = pd.DataFrame(columns=col)
    lis = []
    c=0
    for i in db[tables[pos]].find():
        for j in i.keys():
            df.loc[c,j] = i[j]
        c+=1
    return df

In [50]:
tab = ['jan','feb','mar','apr','may','jun','jul','aug','sep','oct','nov','dec']
months = ["January-2014","February-2014","March-2014","April-2014","May-2014","June-2014","July-2014","August-2014","September-2014","October-2014","November-2014","December-2014"]
df_all = dict()
ctr=0
for i in tab:
    df_all[i] = get_table(months[ctr],tables,col)
    ctr+=1

In [51]:
df_all["apr"]

,_id,ID,FP,BU Region,Approved,Sourcing start,Interview start,Interview end,Offered,Filled,Status,On hold
0,6494a120af20f0c10a81fb57,5222,F,5,2014-03-31 00:00:00,2014-04-07 00:00:00,2014-04-24 00:00:00,NaN,NaN,NaN,Interview start,NaN
1,6494a120af20f0c10a81fb58,17359,P,8,2014-03-27 00:00:00,2014-04-05 00:00:00,2014-04-15 00:00:00,NaN,NaN,NaN,Interview start,NaN
2,6494a120af20f0c10a81fb59,12968,P,7,2014-04-29 00:00:00,NaN,NaN,NaN,NaN,NaN,Approved,NaN
3,6494a120af20f0c10a81fb5a,18986,P,13,2014-03-16 00:00:00,2014-03-22 00:00:00,2014-04-01 00:00:00,2014-04-24 00:00:00,NaN,NaN,Interview end,NaN
4,6494a120af20f0c10a81fb5b,17926,F,97,2014-03-29 00:00:00,2014-04-07 00:00:00,2014-04-20 00:00:00,NaN,NaN,NaN,Interview start,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4890,6494a12aaf20f0c10a820e71,354,P,23,2014-02-21 00:00:00,2014-02-28 00:00:00,2014-03-10 00:00:00,2014-04-02 00:00:00,2014-04-10 00:00:00,2014-04-18 00:00:00,Filled,NaN
4891,6494a12aaf20f0c10a820e72,3466,F,23,2014-03-16 00:00:00,2014-03-22 00:00:00,2014-04-03 00:00:00,2014-04-30 00:00:00,NaN,NaN,Interview end,NaN
4892,6494a12aaf20f0c10a820e73,17767,F,18,2014-03-28 00:00:00,2014-04-04 00:00:00,2014-04-15 00:00:00,NaN,NaN,NaN,Interview start,NaN
4893,6494a12aaf20f0c10a820e74,13608,F,17,2014-04-03 00:00:00,2014-04-10 00:00:00,2014-04-21 00:00:00,NaN,NaN,NaN,Interview start,NaN
4894,6494a12aaf20f0c10a820e75,14269,F,23,2014-03-11 00:00:00,2014-03-17 00:00:00,2014-04-02 00:00:00,2014-04-27 00:00:00,NaN,NaN,Interview end,NaN

In [46]:
df = pd.DataFrame(columns=["Month","Percentage Filled","Percentage Not Filled"])

In [66]:
per_filled = []
per_no_filled = []
for i in df_all:
    yes = df_all[i]["Filled"].value_counts().sum()
    no = df_all[i]["Filled"].isna().sum()
    per_filled.append(((yes)*100/(yes+no)).round(1))
    per_no_filled.append(((no)*100/(yes+no)).round(1))

In [67]:
per_filled

[0.0, 5.3, 33.5, 33.8, 34.5, 35.0, 34.7, 32.7, 32.7, 35.2, 33.2, 33.5]

In [68]:
per_no_filled

[100.0, 94.7, 66.5, 66.2, 65.5, 65.0, 65.3, 67.3, 67.3, 64.8, 66.8, 66.5]