## Crypto Forecasting Model For Market Data 2018 - 2021

In this Data Science project, we will be performing some data analysis as well as we will build a Light Gradient Boosting Machine ML model to forecast short term returns in 14 popular cryptocurrencies using millions of high-frequency market data 2018-2021.
<br>
#### Project Description

In this Data Science project, we will be performing some data analysis as well as we will build a Light Gradient Boosting Machine ML model to forecast short term returns in 14 popular cryptocurrencies using millions of high-frequency market data 2018-2021. The dataset used here contains information on historic trades for several crypto assets, such as Bitcoin and Ethereum. Our challenge is to predict their future returns.
<br>
***train.csv:***

   **timestamp:** All timestamps are returned as second Unix timestamps (the number of seconds elapsed since 1970-01-01 00:00:00.000 UTC). Timestamps in this dataset are multiple of 60, indicating minute-by-minute data.
   
   **Asset_ID:** The asset ID corresponding to one of the cryptocurrencies (e.g. Asset_ID = 1 for Bitcoin). The mapping from Asset_ID to crypto asset is contained in asset_details.csv.
   
   **Count:** Total number of trades in the time interval (last minute).
   
   **Open:** Opening price of the time interval (in USD).
   
   **High:** Highest price reached during time interval (in USD).
   
   **Low:** Lowest price reached during time interval (in USD).
   
   **Close:** Closing price of the time interval (in USD).
   
   **Volume:** Quantity of asset bought or sold, displayed in base currency USD.
   
   **VWAP:** The average price of the asset over the time interval, weighted by volume. VWAP is an aggregated form of trade data.
   
   **Target:** Residual log-returns for the asset over a 15 minute horizon.
<br>
***asset_details.csv:***

It provides the real name of the crypto asset for each Asset_ID and the weight each crypto asset receives in the metric. Weights are determined by the logarithm of each product's market cap (in USD), of the cryptocurrencies at a fixed point in time. Weights were assigned to give more relevance to cryptocurrencies with higher market volumes to ensure smaller cryptocurrencies do not disproportionately impact the models. In this Data Science project, We will build a Light Gradient Boosting Machine ML model to forecast short term returns in 14 popular cryptocurrencies using millions of high-frequency market data 2018-2021.
<br>
#### Technologies used:

**Language -** Python
**Algorithms -** LightGBM

### Module 1: Project Setup and Installation

This module consists of guidance videos for setup and installation of various tools and libraries that we will be needing for our project. By following these videos you can set up the environment for your project development. In our project we will be using various python packages such as NumPy ,Pandas ,sklearn,etc. We will be using Visual Studio Code Editor for development.

#### Task 1: Setup and Installation

In this task you’ll understand how to get started with vscode, python, jupyter notebook etc. with the help of a guided video and how to create a simple jupyter notebook.

#### Task 2: Installing Packages Using Pip

**Packages:**

**Data preprocessing:** NumPy and Pandas

**Data visualization:** Seaborn and Matplotlib

### Module 2: Exploratory Data Analysis (EDA)

Exploratory data analysis (EDA) is an approach of analyzing data sets to summarize their main characteristics, often using statistical graphics hypothesis testing. A statistical model can be used or not, but primarily EDA is for seeing what the data can tell us beyond the formal modeling and thereby contrasts traditional indexing. We will explore the data in detail and have a detailed look at the data and its statistics. We will also define a helper function that will turn a date format into a timestamp to use for  modeling.

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import warnings
warnings.filterwarnings("ignore")

#### Task 1: Knowing The Dataset

In this task, you’ll understand how to Explore the dataset and know what each field means.

In [12]:
path = "data/train/"
list_of_files = os.listdir(path)
train = pd.read_csv(path + list_of_files[0])
print("Number of files imported : ",1)
ctr = 2
for i in list_of_files[1:]:
    if ".csv" not in i:
        continue
    df = pd.read_csv(path + i)
    train = pd.concat([train, df], axis=0, ignore_index=True)
    print("Number of files imported : ",ctr)
    ctr += 1

Number of files imported :  1
Number of files imported :  2
Number of files imported :  3
Number of files imported :  4
Number of files imported :  5
Number of files imported :  6
Number of files imported :  7
Number of files imported :  8
Number of files imported :  9
Number of files imported :  10
Number of files imported :  11
Number of files imported :  12
Number of files imported :  13
Number of files imported :  14
Number of files imported :  15
Number of files imported :  16
Number of files imported :  17
Number of files imported :  18
Number of files imported :  19
Number of files imported :  20
Number of files imported :  21
Number of files imported :  22
Number of files imported :  23
Number of files imported :  24
Number of files imported :  25
Number of files imported :  26
Number of files imported :  27
Number of files imported :  28
Number of files imported :  29
Number of files imported :  30
Number of files imported :  31

In [14]:
asset_details = pd.read_csv("data/asset_details.csv")
asset_details.sort_values(by="Asset_ID",ignore_index=True,inplace=True)
asset_details

    Asset_ID    Weight        Asset_Name
0          0  4.304065      Binance Coin
1          1  6.779922           Bitcoin
2          2  2.397895      Bitcoin Cash
3          3  4.406719           Cardano
4          4  3.555348          Dogecoin
5          5  1.386294            EOS.IO
6          6  5.894403          Ethereum
7          7  2.079442  Ethereum Classic
8          8  1.098612              IOTA
9          9  2.397895          Litecoin
10        10  1.098612             Maker
11        11  1.609438            Monero
12        12  2.079442           Stellar
13        13  1.791759              TRON

In [15]:
train.head()

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target
0,1530202800,12,10.0,0.190815,0.191320,0.19015,0.190740,32450.372000,0.190800,0.001392
1,1530202860,3,19.0,0.125492,0.125594,0.12539,0.125431,57357.220500,0.125477,0.002543
2,1530202860,2,12.0,697.195000,698.140000,696.50000,697.220000,1.461400,697.222803,-0.001323
3,1530202860,0,8.0,14.649900,14.649900,14.63000,14.639500,515.100000,14.637003,-0.002171
4,1530202860,1,131.0,6106.436890,6114.840000,6100.00000,6106.002890,8.465268,6106.365069,-0.000313

In [17]:
test = pd.read_csv("data/example_test.csv")
test.head()

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,group_num,row_id
0,1623542400,3,1201.0,1.478556,1.48603,1.47800,1.483681,654799.561103,1.481439,0,0
1,1623542400,2,1020.0,580.306667,583.89000,579.91000,582.276667,1227.988328,581.697038,0,1
2,1623542400,0,626.0,343.789500,345.10800,343.64000,344.598000,1718.832569,344.441729,0,2
3,1623542400,1,2888.0,35554.289632,35652.46465,35502.67000,35602.004286,163.811537,35583.469303,0,3
4,1623542400,4,433.0,0.312167,0.31260,0.31192,0.312208,585577.410442,0.312154,0,4

#### Task 2: EDA - Dataset

In this you’ll understand how we will perform EDA and understand the data well.

In [18]:
train.isna().sum()

timestamp         0
Asset_ID          0
Count             0
Open              0
High              0
Low               0
Close             0
Volume            0
VWAP              9
Target       750338
dtype: int64

In [19]:
test.isna().sum()

timestamp    0
Asset_ID     0
Count        0
Open         0
High         0
Low          0
Close        0
Volume       0
VWAP         0
group_num    0
row_id       0
dtype: int64

In [21]:
asset_details.isna().sum()

Asset_ID      0
Weight        0
Asset_Name    0
dtype: int64

In [23]:
train.describe()

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target
count,2.423681e+07,2.423681e+07,2.423681e+07,2.423681e+07,2.423681e+07,2.423681e+07,2.423681e+07,2.423681e+07,2.423680e+07,2.348647e+07
mean,1.577120e+09,6.292544e+00,2.864593e+02,1.432640e+03,1.436350e+03,1.429568e+03,1.432640e+03,2.868530e+05,NaN,7.121752e-06
std,3.323350e+07,4.091861e+00,8.673982e+02,6.029605e+03,6.039482e+03,6.020261e+03,6.029611e+03,2.433935e+06,NaN,5.679042e-03
min,1.514765e+09,0.000000e+00,1.000000e+00,1.170400e-03,1.195000e-03,2.000000e-04,1.171400e-03,-3.662812e-01,-inf,-5.093509e-01
25%,1.549011e+09,3.000000e+00,1.900000e+01,2.676500e-01,2.681600e-01,2.669000e-01,2.676483e-01,1.410725e+02,2.676368e-01,-1.694354e-03
50%,1.578372e+09,6.000000e+00,6.400000e+01,1.428860e+01,1.431250e+01,1.426300e+01,1.428920e+01,1.295415e+03,1.428769e+01,-4.289844e-05
75%,1.606198e+09,9.000000e+00,2.210000e+02,2.288743e+02,2.293000e+02,2.284200e+02,2.288729e+02,2.729764e+04,2.288728e+02,1.601520e-03
max,1.632182e+09,1.300000e+01,1.650160e+05,6.480594e+04,6.490000e+04,6.467053e+04,6.480854e+04,7.597554e+08,inf,9.641699e-01

In [24]:
test.describe()

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,group_num,row_id
count,5.600000e+01,56.00000,56.000000,56.000000,56.000000,56.000000,56.000000,5.600000e+01,56.000000,56.000000,56.000000
mean,1.623542e+09,6.50000,739.535714,3017.680422,3021.572698,3010.191113,3015.398331,4.440252e+05,3015.895414,1.500000,27.500000
std,6.768913e+01,4.06761,806.311917,9148.328623,9159.452237,9125.151477,9141.188374,1.027897e+06,9142.300540,1.128152,16.309506
min,1.623542e+09,0.00000,34.000000,0.068015,0.068055,0.067866,0.067936,1.187095e+00,0.067958,0.000000,0.000000
25%,1.623542e+09,3.00000,258.000000,1.002400,1.018800,0.983500,1.000538,6.911536e+02,1.000546,0.750000,13.750000
50%,1.623542e+09,6.50000,448.500000,108.591617,108.712000,108.226000,108.414840,2.494379e+03,108.447083,1.500000,27.500000
75%,1.623543e+09,10.00000,891.750000,580.817500,582.975000,579.692500,580.974167,2.965427e+05,581.061773,2.250000,41.250000
max,1.623543e+09,13.00000,3531.000000,35596.771429,35652.464650,35533.380000,35602.004286,4.981365e+06,35584.861196,3.000000,55.000000

In [25]:
asset_details.describe()

       Asset_ID     Weight
count   14.0000  14.000000
mean     6.5000   2.919989
std      4.1833   1.801957
min      0.0000   1.098612
25%      3.2500   1.655018
50%      6.5000   2.238668
75%      9.7500   4.116886
max     13.0000   6.779922

#### Task 3: Timestamps

In this you’ll understand how we convert date time to timestamps.

In [26]:
datetime_to_timestamp = lambda x: x.timestamp()

### Module 3: Plotting - Data Visualization

Data visualization is the representation of data through the use of common graphics, such as charts, plots, infographics, and even animations. In our project, we use heatmaps, correlation matrices, and other plots to have an interesting detailed view of coin prices.

**Advantages:**

* Easily sharing information
* Interactively explore opportunities
* Visualize patterns and relationships

#### Task 1: Plotting BTC and ETH

In this you’ll understand how we create some interesting plots for BTC and ETH and compare their changes with respect to each other.

In [41]:
def retrieve_crypto_id(asset_details,asset):
    asset_id = asset_details[asset_details["Asset_Name"]==asset]["Asset_ID"].values[0]
    return asset_id
def retrieve_crypto_name(asset_details,asset_id):
    asset = asset_details[asset_details["Asset_ID"]==asset_id]["Asset_Name"].values[0]
    return asset

In [48]:
btc_asset_id = retrieve_crypto_id(asset_details,"Bitcoin")
eth_asset_id = retrieve_crypto_id(asset_details,"Ethereum")

btc = train[train["Asset_ID"]==btc_asset_id]
eth = train[train["Asset_ID"]==btc_asset_id]

btc

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target
4,1530202860,1,131.0,6106.436890,6114.840000,6100.00,6106.002890,8.465268,6106.365069,-0.000313
15,1530202920,1,158.0,6106.448890,6118.200000,6099.99,6105.962000,20.668026,6107.661887,-0.000347
26,1530202980,1,199.0,6106.128333,6116.980000,6099.99,6105.531667,29.715174,6105.825348,-0.000655
37,1530203040,1,201.0,6106.210000,6114.130000,6099.99,6106.256000,23.940284,6106.207722,-0.000597
48,1530203100,1,175.0,6105.706667,6116.580000,6099.99,6106.108333,13.856197,6106.027932,0.000234
...,...,...,...,...,...,...,...,...,...,...
24236747,1555088100,1,312.0,5073.663498,5111.324485,5050.39,5074.040000,82.212045,5074.114509,0.000856
24236760,1555088160,1,331.0,5074.042857,5111.300000,5050.82,5073.958571,42.160399,5073.933994,0.000039
24236773,1555088220,1,245.0,5074.222857,5111.300000,5051.71,5074.697143,53.895518,5074.658289,0.000741
24236786,1555088280,1,308.0,5073.286667,5111.800000,5053.87,5074.163333,44.278444,5073.714956,0.000046
24236799,1555088340,1,262.0,5075.600000,5112.300000,5054.53,5075.772857,15.616399,5075.520624,-0.000687

#### Task 2: Plotting Coin Correlation

In this you’ll understand how we will plot coin correlation of all 14 coins for returns made.

### Module 4: Prediction

LightGBM is a gradient boosting framework that uses tree based learning algorithms. It is designed to be distributed and efficient with the following advantages:

* Faster training speed and higher efficiency (6 times faster than XGBoost)
* Lower memory usage
* Better accuracy
* Support of parallel, distributed, and GPU learning
* Capable of handling large-scale data

Only situation where LGBM is not advised is with small datasets because of its sensitivity to overfitting. We will harness this powerful ML model to make predictions based on a large dataset containing 4 years worth of cryptocurrency data.

#### Task 1: Feature Engineering

In this you’ll understand how we create some new features using fields from data.

#### Task 2: Building LGBM Model

In this you’ll understand how we will build the model.

#### Task 3: Hyperparameter Tuning

In this you’ll understand how we will tune the hyperparameters of the model.

#### Task 4: Evaluation And Prediction

In this you’ll understand how we will use the model to predict on test data and evaluate the performance.