In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("insurance_dataset.csv")
df

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,46048,Male,22,1,26.0,1,< 1 Year,No,27460.0,152.0,172,0
1,228395,Male,29,1,15.0,0,< 1 Year,Yes,28982.0,152.0,207,0
2,170449,Male,25,1,2.0,0,< 1 Year,No,25067.0,152.0,228,0
3,92900,Male,34,1,47.0,1,1-2 Year,Yes,2630.0,156.0,193,0
4,257877,Male,35,1,28.0,0,1-2 Year,Yes,40499.0,124.0,77,1
...,...,...,...,...,...,...,...,...,...,...,...,...
49995,193914,Female,23,1,43.0,1,< 1 Year,No,34493.0,152.0,156,0
49996,251014,Male,25,1,45.0,0,< 1 Year,Yes,23626.0,152.0,250,1
49997,176901,Female,35,1,13.0,0,1-2 Year,Yes,30072.0,156.0,256,0
49998,375871,Male,52,1,14.0,0,1-2 Year,Yes,23863.0,26.0,201,0
49999,266130,Male,37,1,33.0,0,1-2 Year,Yes,35745.0,124.0,179,0

In [3]:
df.isna().sum()

id                      0
Gender                  0
Age                     0
Driving_License         0
Region_Code             0
Previously_Insured      0
Vehicle_Age             0
Vehicle_Damage          0
Annual_Premium          0
Policy_Sales_Channel    0
Vintage                 0
Response                0
dtype: int64

In [4]:
df.dtypes

id                        int64
Gender                   object
Age                       int64
Driving_License           int64
Region_Code             float64
Previously_Insured        int64
Vehicle_Age              object
Vehicle_Damage           object
Annual_Premium          float64
Policy_Sales_Channel    float64
Vintage                   int64
Response                  int64
dtype: object

In [5]:
df.describe()

,id,Age,Driving_License,Region_Code,Previously_Insured,Annual_Premium,Policy_Sales_Channel,Vintage,Response
count,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.00000,50000.000000,50000.000000
mean,190360.481080,38.917040,0.998140,26.403980,0.456260,30651.202720,111.74360,154.520040,0.122780
std,110129.705102,15.547106,0.043088,13.228193,0.498088,16856.326189,54.29231,83.665823,0.328188
min,3.000000,20.000000,0.000000,0.000000,0.000000,2630.000000,1.00000,10.000000,0.000000
25%,94695.500000,25.000000,1.000000,15.000000,0.000000,24555.000000,26.00000,82.000000,0.000000
50%,190046.000000,36.000000,1.000000,28.000000,0.000000,31748.000000,125.00000,155.000000,0.000000
75%,285516.250000,50.000000,1.000000,35.000000,1.000000,39476.000000,152.00000,227.000000,0.000000
max,381105.000000,85.000000,1.000000,52.000000,1.000000,540165.000000,163.00000,299.000000,1.000000

In [7]:
df

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,46048,Male,22,1,26.0,1,< 1 Year,No,27460.0,152.0,172,0
1,228395,Male,29,1,15.0,0,< 1 Year,Yes,28982.0,152.0,207,0
2,170449,Male,25,1,2.0,0,< 1 Year,No,25067.0,152.0,228,0
3,92900,Male,34,1,47.0,1,1-2 Year,Yes,2630.0,156.0,193,0
4,257877,Male,35,1,28.0,0,1-2 Year,Yes,40499.0,124.0,77,1
...,...,...,...,...,...,...,...,...,...,...,...,...
49995,193914,Female,23,1,43.0,1,< 1 Year,No,34493.0,152.0,156,0
49996,251014,Male,25,1,45.0,0,< 1 Year,Yes,23626.0,152.0,250,1
49997,176901,Female,35,1,13.0,0,1-2 Year,Yes,30072.0,156.0,256,0
49998,375871,Male,52,1,14.0,0,1-2 Year,Yes,23863.0,26.0,201,0
49999,266130,Male,37,1,33.0,0,1-2 Year,Yes,35745.0,124.0,179,0

In [9]:
(df["Response"].value_counts() * 100 / len(df)).round(0)

Response
0    88.0
1    12.0
Name: count, dtype: float64